.brends {
  width: 1160px;
  height: 150px;
  margin: 100px auto 40px;
}
.brend__list {
  display: inline-block;
  width: 100%;
  list-style: none;
  font-size: 0;
}
.brend__item {
  display: inline-block;
  width: 25%;
}
.brend__item a {
  display: block;
  height: 90px;
}
.brend__item-1 a {
  background: url("../img/logo1.jpg") no-repeat center;
}
.brend__item-1 a:hover {
  background-image: url("../img/logo1active.jpg");
}
.brend__item-2 a {
  background: url("../img/logo2.jpg") no-repeat center;
}
.brend__item-2 a:hover {
  background-image: url("../img/logo2active.jpg");
}
.brend__item-3 a {
  background: url("../img/logo3.jpg") no-repeat center;
}
.brend__item-3 a:hover {
  background-image: url("../img/logo3active.jpg");
}
.brend__item-4 a {
  background: url("../img/logo4.jpg") no-repeat center;
}
.brend__item-4 a:hover {
  background-image: url("../img/logo4active.jpg");
}
.catalog-menu {
  width: 100%;
}
.catalog-menu__list {
  list-style: none;
}
.catalog-menu__item {
  display: inline-block;
  width: auto;
}
.catalog-menu__item:first-child {
  width: 51%;
}
.catalog-menu__item:first-child span {
  display: inline-block;
  vertical-align: sub;
  margin-left: 15px;
  width: 18px;
  height: 18px;
  background: url("../img/plus.png") no-repeat 0 0;
}
.catalog-menu__item:nth-child(2) {
  margin-right: 30px;
}
.catalog-menu__item:nth-child(2) a {
  letter-spacing: 4px;
}
.catalog-menu__item:nth-child(3) {
  margin-right: 110px;
}
.catalog-menu__item a {
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 3px;
}
.catalog-submenu {
  display: none;
}
.catalog-submenu__item {
  list-style: none;
  font-size: 15px;
}
.delivery {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 288px;
  background-color: #e5e5e5;
}
.delivery__wrapper {
  position: relative;
  width: 1160px;
  margin: auto;
}
.delivery__list {
  margin-top: -18px;
  list-style: none;
}
.delivery__list::after {
  display: block;
  position: absolute;
  top: -100px;
  left: 275px;
  content: "";
  width: 7px;
  height: 319px;
  background-color: #000000;
}
.delivery__items {
  width: 280px;
  float: left;
  margin-right: 120px;
}
.delivery__item {
  margin-bottom: 25px;
}
.delivery__item a {
  display: block;
  width: 160px;
  height: 8px;
  border-top: 16px solid #e5e5e5;
  border-bottom: 16px solid #e5e5e5;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 8px;
  background-color: #f0c52e;
  letter-spacing: 4px;
}
.delivery__item a:hover {
  height: 40px;
  line-height: 40px;
  background-color: #f0c52e;
  border-top: 0;
  border-bottom: 0;
}
.delivery__item a:active {
  width: 280px;
  color: #f7e184;
  background-color: #000000;
}
.delivery__item-1 a {
  width: 280px;
  color: #f7e184;
  background-color: #000000;
  border-color: #000000;
}
.delivery__details {
  width: 460px;
  float: left;
}
.delivery__details h2 {
  margin: -30px 0 26px 0;
}
.delivery__details p {
  color: #464646;
  line-height: 30px;
}
.delivery__details::after {
  position: absolute;
  top: -12px;
  right: 63px;
  content: "";
  width: 140px;
  height: 170px;
  background: url("../img/delivery.png") no-repeat 0 0;
}
.delivery__warranty {
  display: none;
}
.delivery__credit {
  display: none;
}
.footer {
  clear: both;
  padding-top: 45px;
  box-sizing: border-box;
  background-color: #464646;
  width: 100%;
  height: 325px;
}
.footer__container {
  width: 1160px;
  margin: auto;
}
.footer__left {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 230px;
  margin-right: 60px;
}
.footer__left p {
  color: white;
  margin-bottom: 90px;
}
.footer__left::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 8px;
  background-color: #ffc600;
}
.footer__logo {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffc600;
}
.footer__center {
  display: inline-block;
  width: 440px;
  height: 230px;
  margin-right: 20px;
}
.footer__delivery {
  list-style: none;
}
.footer__delivery-item {
  display: inline-block;
  width: 31%;
  vertical-align: baseline;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.footer__delivery-item:first-of-type {
  margin-right: 20px;
}
.footer__delivery-item a {
  color: white;
  letter-spacing: 4px;
}
.footer__right {
  display: inline-block;
  width: 330px;
  height: 230px;
}
.footer__menu {
  list-style: none;
}
.footer__menu-item {
  display: inline-block;
}
.footer__menu-item a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  color: white;
}
.header {
  width: 1160px;
  height: 300px;
  position: relative;
  margin: 40px auto;
  padding: 50px 60px 0;
  box-sizing: border-box;
  background-color: #f7e296;
}
.header-logo {
  position: absolute;
  top: -30px;
  left: 60px;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
}
.info {
  clear: both;
  width: 1160px;
  margin: auto;
}
.about,
.contacts {
  position: relative;
  display: inline-block;
  float: left;
}
.about {
  width: 52%;
}
.about p {
  display: block;
  width: 495px;
  line-height: 30px;
}
.about__list {
  margin-top: 75px;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  padding-left: 32px;
}
.about a {
  display: block;
  width: 260px;
  height: 8px;
  margin: 55px 0 80px;
  border-top: 16px solid white;
  border-bottom: 16px solid white;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 8px;
  background-color: #f0c52e;
  letter-spacing: 4px;
}
.about a:hover {
  height: 40px;
  line-height: 40px;
  background-color: #f0c52e;
  border-top: 0;
  border-bottom: 0;
}
.about a:active {
  color: #a68832;
}
.contacts {
  width: 48%;
}
.contacts p {
  line-height: 30px;
}
.contacts__map {
  margin-top: 20px;
}
.contacts a {
  display: block;
  width: 260px;
  height: 8px;
  margin: 65px 0 80px;
  border-top: 16px solid white;
  border-bottom: 16px solid white;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 8px;
  background-color: #f0c52e;
  letter-spacing: 4px;
}
.contacts a:hover {
  height: 40px;
  line-height: 40px;
  background-color: #f0c52e;
  border-top: 0;
  border-bottom: 0;
}
.contacts a:active {
  color: #a68832;
}
.about::before,
.contacts::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 80px;
  height: 8px;
  background-color: #000000;
}
.about h2,
.contacts h2 {
  margin-top: 50px;
}
.main-menu {
  width: 100%;
  margin-bottom: 40px;
}
.main-menu__list {
  list-style: none;
}
.main-menu__item {
  display: inline-block;
  width: auto;
}
.main-menu__item:first-child {
  width: 51%;
}
.main-menu__item:nth-child(2) {
  margin-right: 190px;
}
.main-menu__item:nth-child(3) {
  margin-right: 13px;
}
.main-menu__item a {
  color: black;
  font-size: 26,46px;
  text-decoration: none;
}
.main-menu .main-menu__icon {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.main-menu .main-menu__icon-search {
  background: url("../img/search.png") no-repeat 0 1px;
}
.main-menu .main-menu__icon-enter {
  background: url("../img/user.png") no-repeat 3px 3px;
}
.main-menu .main-menu__icon-compare {
  background: url("../img/compare.png") no-repeat 8px 5px;
}
.main-menu .main-menu__icon-cart {
  background: url("../img/cart.png") no-repeat 8px 5px;
  margin-right: 5px;
}
.main-nav {
  display: block;
  width: 1160px;
  margin: 95px auto 260px;
  font-size: 0;
  clear: both;
}
.main-nav__item {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 160px;
  margin-right: 40px;
  background-color: #f7e296;
  text-align: left;
  background-position: center;
  background-repeat: no-repeat;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__item-1 {
  background-image: url("../img/popular-1.png");
}
.main-nav__item-2 {
  background-image: url("../img/popular-2.png");
  background-position: center bottom;
}
.main-nav__item-3 {
  background-image: url("../img/popular-3.png");
}
.main-nav__item-4 {
  background-image: url("../img/popular-4.png");
}
.main-nav__item-5 {
  background-image: url("../img/popular-5.png");
}
.main-nav__item-6 {
  background-image: url("../img/popular-6.png");
}
.main-nav__title {
  display: block;
  margin-top: 195px;
}
.slider {
  position: relative;
  margin: auto;
  margin-top: -155px;
  width: 1160px;
  height: 500px;
  padding: 0 60px;
}
.slider-controls {
  position: absolute;
  bottom: 160px;
  right: 125px;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 4px solid #b2b2b2;
  border-radius: 50%;
  cursor: pointer;
}
.slide {
  display: block;
  padding: 0 60px;
  z-index: 10;
}
.slide-img {
  float: left;
  width: 50%;
  height: 500px;
  background: url("../img/slide1.png") no-repeat 28px 0;
}
.slide-description {
  width: 48%;
  float: right;
}
.slide-description p {
  line-height: 30px;
}
.slide-decor {
  margin-top: 10px;
  text-align: right;
}
.slide-number {
  font-size: 179.2px;
  font-weight: bold;
  color: white;
  line-height: 140px;
}
.slide-number::before {
  content: "";
  width: 100px;
  height: 8px;
  position: absolute;
  top: 40px;
  left: 660px;
  background-color: white;
}
.slide-title {
  margin: -70px 0 20px 0;
  font-size: 47px;
  font-weight: bold;
}
.slide-details {
  display: block;
  width: 220px;
  height: 8px;
  margin: 40px 0 53px;
  border-top: 16px solid white;
  border-bottom: 16px solid white;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 8px;
  background-color: #f0c52e;
  letter-spacing: 4px;
}
.slide-details:hover {
  height: 40px;
  line-height: 40px;
  background-color: #f0c52e;
  border-top: 0;
  border-bottom: 0;
}
.slide-details:active {
  color: #a68832;
}
.slide-features {
  width: 100%;
}
.slide-feature {
  display: inline-block;
  margin-right: 72px;
}
.slide-feature:last-child {
  margin-right: 0;
}
.slide-feature span {
  font-size: 36px;
}
.slide-feature p {
  font-size: 13px;
  margin-top: 5px;
}
#slide2 {
  display: none;
}
#slide3 {
  display: none;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", "Gilroy", "Arial", sans-serif;
}
h1 {
  font-family: "Gilroy", "Arial", sans-serif;
}
h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
}
h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
}
a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: black;
  text-align: center;
}
p {
  font-size: 15px;
}
span {
  font-family: "Gilroy", "Arial", sans-serif;
}
