@font-face {
  font-family: "Gilroyextrabold";
  src:
   url("../fonts/Gilroyextrabold.woff") format("woff"),
   url("../fonts/Gilroyextrabold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Gilroylight";
  src:
   url("../fonts/Gilroylight.woff") format("woff"),
   url("../fonts/Gilroylight.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Opensans";
  src:
   url("../fonts/Opensans.woff") format("woff"),
   url("../fonts/Opensans.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Opensansbold";
  src:
   url("../fonts/Opensansbold.woff") format("woff"),
   url("../fonts/Opensansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
