.main-menu {
  width: 100%;
  margin-bottom: 65px;
  font-size: 0;

  &__list {
    list-style: none;
    display: block;
    width: 49%;
    float: right;
  }

  &__item {
    display: inline-block;
    width: auto;

    &:first-child {
      margin-right: 210px;
    }

    &:nth-child(2) {
      margin-right: 25px;
    }

    & a {
      color: black;
      font-size: 15px;
      text-decoration: none;
      font-family: "Open Sans", "Arial", sans-serif;
    }
  }

  .main-menu__icon {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-right: 12px;

    &-enter {
      background: url("../img/user.png") no-repeat 3px 3px;
    }

    &-compare {
      background: url("../img/compare.png") no-repeat 8px 5px;
    }

    &-cart {
      background: url("../img/cart.png") no-repeat 8px 5px;
      margin-right: 5px;
    }
  }
}
