.slider {
  position: relative;
  margin: auto;
  margin-top: -155px;
  width: 1160px;
  height: 500px;
  padding: 0 60px;
}

.slider-controls {
  position: absolute;
  bottom: 160px;
  right: 125px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 4px solid #b2b2b2;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: block;
  padding: 0 60px;
  z-index: 10;

  &-img {
    float: left;
    width: 50%;
    height: 500px;
    background: url("../img/slide1.png") no-repeat 28px 0;
  }

  &-description {
    width: 48%;
    float: right;

    & p {
      line-height: 30px;
    }
  }

  &-decor {
    margin-top: 10px;
    text-align: right;
  }

  &-number {
    font-size: 179.2px;
    font-weight: bold;
    color: white;
    line-height: 140px;

    &::before {
      content: "";
      width: 100px;
      height: 8px;
      position: absolute;
      top: 40px;
      left: 660px;
      background-color: white;
    }
  }

  &-title {
    margin: -70px 0 20px 0;
    font-size: 47px;
    font-weight: bold;
  }

  &-details {
    display: block;
    width: 220px;
    height: 8px;
    margin: 40px 0 53px;
    border-top: 16px solid white;
    border-bottom: 16px solid white;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 8px;
    background-color: @brd-yellow;
    letter-spacing: 4px;

    &:hover {
      height: 40px;
      line-height: 40px;
      background-color: @brd-yellow;
      border-top: 0;
      border-bottom: 0;
    }

      &:active {
        color: #a68832;
    }
  }

  &-features {
    width: 100%;
  }

  &-feature {
    display: inline-block;
    margin-right: 72px;

    &:last-child {
      margin-right: 0;
    }

    & span {
      font-size: 36px;
    }

    & p {
      font-size: 13px;
      margin-top: 5px;
    }
  }
}

#slide2 {
  display: none;
}

#slide3 {
  display: none;
}
